<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="com.naveenautomationlabs.AFramework.listeners.CustomListeners"></listener>
<listener class-name="com.naveenautomationlabs.AFramework.listeners.TransformerForRetry"></listener>
<listener class-name="com.naveenautomationlabs.AFramework.listeners.ExtentReportListener"></listener>
</listeners>
  <test thread-count="5" name="Test">
  
    <classes>
      <class name="com.naveenautomationlabs.AFramework.tests.YourStoreTest"/>
      <class name="com.naveenautomationlabs.AFramework.tests.MyWishListTest"/>
      <class name="com.naveenautomationlabs.AFramework.tests.LaptopsNotebookTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
